/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav li:first-child {
    margin-left: 0;
}


