/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin-top: 0px;
  padding: 0%;
  margin-right: 0px;
  margin-left: 0px;

}

.firstHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #000;
  color: #fff;
  flex-direction: row;
  width: 100%;
  height: 6vw;
}

img .spotifyLogo {
  width: 12vw;
  height: 4vw;
  margin-left: 2rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  align-items: flex-start;
  padding: 0 2rem;
}

li {
  display: inline;
  text-decoration: none;
  color: #696969;
  list-style: none;
  font-size: 2rem;
  font-weight: lighter;
}


header {
  height: 75vw;
  background-size: cover;
  background-image:U;

}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5px;
}



.horizontal_line {
  background-color: #00b172;
  width: 375px;
  height: 5px;
  border-top: 5px;
  margin-top: 150px;
}



.spotifyicons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.contentsection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 100%;
  gap: 0;
}




.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 65%;
  padding-bottom: 20px;
}

.content h3 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: left;
}

.content p {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0px;
  color: white;
  width: 100%;
}

